@font-face {
    font-family: "Gilroy";
    src: url("../fonts/gilroylight.woff2") format("woff2"),
         url("../fonts/gilroylight.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
         url("../fonts/gilroyextrabold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: #464646;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

html { box-sizing: border-box; }
*, *::before, *::after { box-sizing: inherit; }

.wrapper-center {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.main-links-state {
  opacity: 1;
}

.main-links-state:hover {
  opacity: 0.6;
}

.main-links-state:focus {
  opacity: 0.3;
}

.title-style {
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 700;
  font-size: 47px;
  line-height: 48px;
  color: #000000;
  letter-spacing: 0.7px;


  margin: 0px;
  padding: 0px;

  /* margin-top: 20px; */
  margin-bottom: 30px;
}

.info::before, .contact::before {
  content: "";

  width: 80px;
  height: 7px;

  /* position: absolute;
  top:0;
  left: 0; */

  margin-bottom: 45px;

  background-color: #000;

}

.button {
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  letter-spacing: 3px;
  text-transform: uppercase;

  display: block;
  width: 260px;
  text-align: center;

  position: relative;
}

.button:focus p {
  opacity: 0.3;
}

.button::before {
  content: "";
  display: block;

  width: 100%;
  height: 8px;

  position: absolute;
  top:7px;

  margin-left: -8px;

  background-color: #f0c52e;
  z-index: -1;
}

.button:hover::before {
  content: "";
  display: block;

  width: 100%;
  height: 42px;

  position: absolute;
  top: -10px;

  background-color: #f0c52e;
  z-index: -1;
}

.button:focus::before {
  opacity: 1;
}

.button p {
  margin: 0px;
  padding: 0px;
}


.main-navigation {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  font-weight: 700;

  position: relative;

  min-height: 298px;
  padding-top: 1px;
  box-sizing: border-box;
  margin-bottom: 38px;

  background-color: #f7e296;
}

.main-header-logo {
  font-size: 48px;
  line-height: 48px;
  color: #000000;
  letter-spacing: 0.7px;

  position: absolute;
  top: -24px;
  left: 56px;
}

.header-top-line {
  display: flex;

  margin-top: 42px;
  margin-bottom: 38px;

  position: relative;
}

.main-search::before {
  content: "";

  position: absolute;
  left: -5px;
  top: 5px;

  width: 23px;
  height: 23px;

  background-image: url(../img/search.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.main-search input {
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;

  width: 350px;

  background-color: #f7e296;
  border: none;
  opacity: 0.3;
}

.main-search input:hover {
  opacity: 0.6;
}

.main-search input:focus {
  box-shadow: 0 1px 0 0 #000;
  opacity: 1;
  outline: none;
}

.main-search button {
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 15px;
  font-weight: 30px;

  display: none;
  background-color: transparent;
  border: 1px solid #000;
  padding: 10px 20px;
}

.user-shopping {
  display: flex;

  width: 191px;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.inner-page .user-navigation {
  display: flex;

  width: 200px;
}

.inner-page .main-navigation {
  min-height: 185px;
}

.user-navigation {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.user-navigation a,
.user-shopping a {
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  color: #000000;
}

.user-navigation a:hover,
.user-shopping a:hover {
  opacity: 0.6;
}

.user-navigation a:focus,
.user-shopping a:focus {
  opacity: 0.3;
}


.site-navigation {
  font-size: 18px;
  line-height: 24px;
  font-weight:700;
  text-transform: uppercase;
  letter-spacing: 3.5px;

  display: flex;
  padding: 0px;
  margin: 0px;
  margin-left: 60px;

  list-style: none;
}

.menu-delivery {
  margin-left: 35px;
}

.menu-contacts {
  margin-left: 110px;
}

.site-navigation a {
  color: #000000;
}

.dropdown-list {
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 15px;
  line-height: 36px;
  font-weight: normal;
  letter-spacing: normal;
  text-transform: none;
  color: #000000;

  display: none;

  list-style: none;
  }


  .dropdown-list li {
    width: 200px;
    margin: 0;
    padding: 0;
  }

  .main-list:hover .dropdown-list {
    display: flex;
    flex-wrap: wrap;

    position: absolute;
    top: 40px;
    left: -60px;

    width: 1160px;

    margin: 0px;
    padding: 0px;
    padding-top: 5px;
    padding-left: 60px;
    padding-bottom: 32px;

    background-color: #f7e296;
  }

  .dropdown-list .left-column {
    margin-right: 40px;
  }

.index-columns {
  letter-spacing: 0.1px;

  display: flex;
  justify-content: space-between;
}

.info {
  display: flex;
  flex-direction: column;

  width: 478px;
}

.info .button {
  letter-spacing: 4px;

  margin-top: 63px;
}

.contact .button {
  margin-top:68px;
}

.contact {
  display: flex;
  flex-direction: column;

  width: 560px;
}


.transport-company p {
  margin-bottom: 65px;
}

.contact p {
  margin-bottom: 37px;
}

.companies {
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 40px;
  color: #000;

  margin: 0px;
  padding: 0px;
  margin-left: 35px;

  list-style: none;
}

.companies li {
    position: relative;
}

.companies li::before {
  content: "";

  width: 10px;
  height: 10px;

  position:absolute;
  top:15px;
  left: -35px;

  background-color: transparent;
  border-radius: 50%;
  box-shadow: inset 0 0 0 3px #ececec;
}

.authorized-user {
  width: 160px;
  margin-right: 20px;
}

.inner-page-title {
  margin-bottom: 19px;
  margin-left: 60px;
}

.breadcrumbs {
  display: flex;

  margin-bottom: 45px;
  margin-left: 22px;
}

.breadcrumbs li {
  padding: 0px;
  margin: 0px;
  margin-right: 20px;

  list-style: none;
}

.breadcrumbs a {
  font-size: 14px;
  line-height: 24px;
  color: #000000;

  list-style: none;
  opacity: 0.3;
}

.breadcrumbs a:hover {
  opacity: 0.6;
}

.breadcrumbs a:focus {
  opacity: 0.1;
}

.breadcrumbs .breadcrumbs-current {
  font-size: 14px;
  line-height: 24px;
  color: #000000;

  margin-right: 0;
  align-self: center;

  opacity: 0.3;
}

.catalog-columns {
    display: flex;

    min-height: 1200px;
}

.filters {
  width: 330px;
  box-sizing: border-box;
}

.filters h2 {
  font-family: "Gilroy", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 3.5px;

  padding-top: 10px;
  padding-left: 60px;
  margin-bottom: 243px;
}

.filter-form {
  margin-left: 47px;
}

.filters fieldset {
  border: none;
}

.filters legend {
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;

  margin-bottom: 12px;
}

.filters .filter-option {
  padding: 0px;
  margin: 0px;
  margin-left: 35px;
}

.filters fieldset:first-child {
  margin-bottom: 35px;
}

.filters .button {
  margin-top: 28px;
  margin-left: 50px;
}


.filter-color,
.filter-bluetooth {
  padding: 0px;
  margin: 0px;
}

.filter-color li,
.filter-bluetooth li {
  font-size: 14px;
  line-height: 40px;
  color: #000000;

  padding: 0px;
  margin: 0px;

  list-style: none;
}

.filter-button {
  font-size: 18px;
  line-height: auto;
  letter-spacing: 3px;
  text-transform: uppercase;

  background-color:transparent;
  border: none;
}

.catalog {
  width: 760px;
  margin-left: 70px;
}


.catalog-item h3 {
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.catalog-item a {
  color: #000000;
}


.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;

  padding: 0;
  margin: 0;
  margin-top: 138px;
}

.catalog-list li {
  margin-bottom: 44px;

  list-style: none;
}

.catalog-list li {
}

/* .catalog-list li:nth-child(3),
.catalog-list li:nth-child(4) {
  margin-bottom: 0px;
} */

.catalog-item {
  font-size: 0px;
}

.catalog-item h3 {
  width: 260px;
  padding: 0px;
  margin: 0px;
  margin-top: 18px;
}



.catalog-item-wrapper {
  padding: 0px;
  margin: 0px;
}

.pagination-list li {
  display: block;
  background-color: #eeeeee;
  list-style: none;
}

.pagination-item-sort a {
  opacity: 0.3;
}

.pagination-item-sort a:hover {
  color: inherit;

  opacity: 0.6;
}

.pagination-item-sort a:focus {
  color: inherit;

  opacity: 1;
}

.pagination-list {
  display: flex;
  align-items: center;

  width: 760px;
  margin: 0px;
  padding: 0px;
  min-height: 70px;

  margin-top: -10px;

  background-color: #ebebeb;
}


.pagination-item-sort {
  justify-content: space-around;
  display: flex;

  box-sizing: border-box;
  padding-left: 25px;
  width: 140px;
}

.pagination-back {
  /* margin-left: 28px; */
  margin-right: 176px;
  padding-left: 28px;
  padding-right: 24px;
  padding-top: 22px;
  min-height: 70px;
}

.pagination-back:focus a {
  opacity: 0.3;
}

.pagination-next {
  /* margin-right: 27px; */
  padding-right: 27px;
  margin-left: auto;
  padding-left: 28px;
  padding-top: 22px;
  min-height: 70px;
}

.pagination-next a:focus {
  opacity: 0.3;
}

.pagination-back a,
.pagination-next a {
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.pagination-back:hover,
.pagination-next:hover {
  background-color: #d9d9d9;
  opacity: 1;
}

.pagination-item-current a {
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  opacity: 1;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus {
  opacity: 1;
}

.inner-page .footer-wrapper {
  margin-top: 77px;
}

.footer-wrapper {
  color: #898989;

  width: 100%;
  margin-top: 89px;
  min-height: 325px;

  background-color: #464646;
}

.footer-top {
  box-sizing: border-box;
  display: flex;
  margin-top: 60px;
  margin-bottom: 12px;
}

.footer-user-navigation {
  display: flex;

  margin: 0px;
  padding: 0px;
  /* margin-right: 60px; */
}

.footer-user-shopping {
  margin: 0px;
  padding: 0px;
}

.main-footer-logo {
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 700;
  font-size: 48px;
  color: #ffc600;
  letter-spacing: 0.4px;

  margin-right: 545px;
  padding-top: 10px;
}

.main-footer {
  padding-top: 1px;
}


.footer-user-shopping {
  display: flex;
  /* justify-content: space-between; */

  width: 220px;
}

.footer-user-shopping .comparison {
  margin-right: 10px;
}

.footer-user-shopping .comparison-icon {
  fill: #ffc600;
}

.footer-user-shopping .cart {
  margin-right: 0;
  text-align: right;
}

.footer-user-shopping .cart-icon {
  fill: #ffc600;
}



.footer-user-navigation li {
  list-style: none;
}


.footer-user-navigation a {
  color: #ffffff;
  line-height: 36px;

  list-style: none;
  opacity: 0.7;
}

.footer-user-navigation a:hover,
.footer-user-shopping a:hover {
  opacity: 1;
}

.footer-user-navigation a:focus,
.footer-user-shopping a:focus,
.footer-site-navigation a:focus {
  opacity: 0.3;
}

.footer-user-shopping li {
  list-style: none;
}

.footer-user-shopping a {
  color: #ffffff;
  line-height: 36px;

  list-style: none;
  opacity: 0.7;
}

.footer-middle {
  display: flex;

  /* margin-bottom: 60px; */
}

.footer-middle p {
  color: #ffffff;
  line-height: 36px;
}

.footer-site-navigation {
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 3.5px;

  display: flex;

  width: 455px;
  padding: 0px;
  margin: 0px;
  margin-top: 30px;

  list-style: none;
}

.footer-site-navigation li:first-child {
  margin-right: 35px;
}

.footer-site-navigation li:last-child {
  margin-left: 35px;
}

.footer-site-navigation a {
  color: #ffffff;
}

.footer-site-navigation a:hover {
  opacity: 0.6;
}

.footer-bottom {
  display: flex;
  /* justify-content:space-between; */

  margin-top: 45px;
}

.footer-bottom::before {
  content:"";
  width: 80px;
  height: 7px;
  background-color: #ffc600;
  margin-right: 430px;
  margin-top: 14px;
}

.footer-social {
  display: flex;
  justify-content: space-between;

  width: 140px;

  margin: 0px;
  padding: 0px;
  /* margin-right: 40px; */

}

.footer-social a {
  opacity: 0.3;
}

.footer-social a:hover {
  opacity: 0.6;
}

.footer-social a:focus {
  opacity: 0.1;
}


.footer-social li:first-child {
  margin-left: 0px;
}

.footer-social li:last-child {
  margin-right: 0px;
}


.footer-bottom li {
  list-style: none;
}

.footer-bottom .social-button {
  color: #ffffff;

  opacity: 0.3;
}

.footer-copyright {
  margin: 0px;
  padding: 0px;
  margin-right: 0px;
  margin-left: auto;
}

.htmlacademy-logo {
  fill: #ffc600;
}

.modal {
  position: relative;
}

.feedback-item {
  padding: 0px;
  margin: 0px;
}

.modal-feedback {
  width: 960px;
  box-sizing: border-box;

  margin: 0 auto;
  padding-top: 1px;
  padding-bottom: 1px;
  margin-top: 100px;

  box-shadow: 0 10px 20px 0px rgba(4,6,6,0.2);
}

.feedback-form {
  width: 760px;
  margin: 0 auto;
  margin-top: 85px;
}

.feedback-top {
  display: flex;
  justify-content: space-between;
  width: 760px;
  margin-bottom: 35px;
}

.feedback-top .feedback-item {
  width: 360px;
}

.modal-feedback label {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000;
}

.modal-feedback input {
  min-height: 49px;
  background-color: #f2f2f2;
  width: 360px;
  padding-left: 20px;
  border: none;

  margin-top: 2px;
}

.modal-feedback input::-webkit-input-placeholder {
  font-family: "Open Sans Regular";
  font-size: 14px;
  line-height: 18px;
  color: #464646;
}

.modal-feedback textarea {
  resize: none;

  width: 760px;

  background-color: #f2f2f2;
  padding-left: 20px;
  padding-top: 20px;
  border: none;

  min-height: 157px;
}

.modal-feedback textarea::-webkit-input-placeholder {
  font-family: "Open Sans Regular";
  font-size: 14px;
  line-height: 18px;
  color: #464646;
}

.middle-feedback {
  width: 760px;
}

.feedback-button {
  text-align: center;

  margin-top: 40px;
  margin-bottom: 82px;

  width: 200px;


  border: none;
  background-color: transparent;
}

.feedback-button:focus span {
  opacity: 0.3;
}

.modal-close {
  background-color: transparent;
  border: none;
  opacity:0.5;
  position: absolute;
}

.modal-close:hover {
  opacity: 1;
}

.modal-close:focus {
  opacity: 0.3;
}

.feedback-close {
  top: 15px;
  right: 15px;
}

.modal-map {
  width: 960px;
  height: 559px;

  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;

  box-shadow: 0 10px 20px 0px rgba(4,6,6,0.2);
}

.map-close {
  top: 20px;
  right: 15px;
}

.main-header {
  position: relative;

  margin-top: 33px;
  margin-top: 40px;
}

.inner-page .main-header-logo {
  top: -22px;
  left: 56px;
}

.header-top-line .main-search {
  position: relative;

  width: 450px;
  margin-right: 85px;
  margin-left: 65px;
  padding-left: 33px;
}

.header-top-line .user-navigation {
  position: relative;

  width: 260px;
  /* padding-left: 25px; */
  margin-right: 27px;
}

.login-link-icon {
  margin-right: 10px;
}

.exit {
  opacity: 0.3;
}


.header-top-line .user-shopping {
  width: 220px;

  position: relative;
}

.main-header .site-navigation {
  position: relative;

  margin-left: 60px;
}

.site-navigation .main-list {
  width: 260px;
  margin-right: 280px;
}

.main-list::before {
  content: "";

  position: absolute;
  left: 225px;
  width: 23px;
  height: 23px;

  background-image: url(../img/plus.svg);
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.3;
}

.comparison {
  width: 100px;

  margin-right: 41px;
}

.comparison-icon {
  margin-right: 6px;
}

.cart {
  width: 100px;

  position: relative;
}

.cart-icon {
  margin-right: 7px;
}

.container .inner-page-title {
  margin: 0px;
  padding: 0px;
  margin-left: 60px;
  margin-bottom:21px;
}

.breadcrumbs {
  margin: 0px;
  padding: 0px;
  margin-left: 60px;

}

.breadcrumbs li {
  margin: 0px;
  padding: 0px;
  padding-right: 38px;
}

.top-wrapper {
  margin-bottom: 45px;
}

.price-wrapper {
  display: flex;
  justify-content: space-between;
}

.catalog-item-price {
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  padding: 0px;
  margin: 0px;
  margin-top: 18px;
}

.footer-top {
  margin-top: 60px;
}

.main-footer-logo {
  margin-right: 668px;
}


.inner-page .main-footer-logo {
  margin-right: 515px;
  position: relative;
  left:-2px;
}

.footer-user-navigation {
  margin-right: 45px;
  width: 74px;
}

.inner-page .footer-user-navigation {
  width: 235px;
  margin-right: 40px;
}

.footer-top .authorized-user {
  width: 170px;
  margin-right: 6px;
}


.footer-address {
  display: block;
  margin-right: 163px;
}

.footer-number {
  margin-right: 0;
  margin-left: auto;
}

.footer-site-navigation {
  width: 430px;
  margin: 0px;
  padding: 0px;
  margin-top: 27px;
}
