@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/gilroylight.woff') format('woff'),
         url('../fonts/gilroylight.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/gilroyextrabold.woff') format('woff'),
         url('../fonts/gilroyextrabold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: #464646;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.button {
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.main-navigation {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  font-weight: 700;


  background-color: #f7e296
}

.main-header-logo {
  font-size: 48px;
  line-height: 48px;

  color: #000000;
}

.main-header-logo[href="index.html"]:hover {
  opacity: 0.6;
}

.main-header-logo[href="index.html"]:focus {
  opacity: 0.3;
}

.main-search input {
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;

  background-color: #f7e296;
  border: none;
  opacity: 0.3;
}

.main-search input:hover {
  opacity: 0.6;
}

.main-search input:focus {
  opacity: 1;
  border-bottom: 2px solid #000;
  outline: none;
}

.main-search button {
  display: none;
}

.user-navigation,
.user-shopping {
  list-style: none;
}

.user-navigation a,
.user-shopping a {
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  color: #000000;
}

.user-navigation a:hover,
.user-shopping a:hover {
  opacity: 0.6;
}

.user-navigation a:focus,
.user-shopping a:focus {
  opacity: 0.3;
}

.site-navigation {
  font-size: 18px;
  line-height: 24px;
  font-weight:bold;
  text-transform: uppercase;
  letter-spacing: 3px;

  list-style: none;
}

.site-navigation a {
  color: #000000;
}

.dropdown-list {
  display: none;

  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 15px;
  line-height: 36px;
  font-weight: normal;
  letter-spacing: normal;
  text-transform: none;
  color: #000000;

  list-style: none;
  }

.site-navigation a:hover {
  opacity: 0.6;
}


.site-navigation a:focus {
  opacity: 0.3;
}

.main-list:hover .dropdown-list {
  display: block;
}

.info h2 {
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 700;
  font-size: 47px;
  line-height: 48px;
}

.companies {
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 40px;
}

.contact h2 {
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 700;
  font-size: 47px;
  line-height: 48px;
}

.page-title {
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 700;
  font-size: 47px;
  line-height: 48px;
  color: #000000;
}

.breadcrumbs li {
  list-style: none;
}

.breadcrumbs a {
  font-size: 14px;
  line-height: 24px;
  color: #000000;

  list-style: none;
  opacity: 0.3;
}

.breadcrumbs a:hover {
  opacity: 0.6;
}

.breadcrumbs a:focus {
  opacity: 0.1;
}

.breadcrumbs-current {
  font-size: 14px;
  line-height: 24px;
  color: #000000;

  opacity: 0.3;
}

.filters {
  background-color: #eeeeee;
}

.filters fieldset {
  border: none;
}

.filters legend {
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.filter-color li,
.filter-bluetooth li {
  font-size: 14px;
  line-height: 40px;
  color: #000000;

  list-style: none;
}

.filter-button {
  font-size: 18px;
  line-height: auto;
  letter-spacing: 3px;
  text-transform: uppercase;

  background-color:transparent;
  border: none;
}

.catalog-item h3 {
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.catalog-item a {
  color: #000000;

}

.catalog-list li {
  list-style: none;
}

.catalog-item-price {
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 400; /* не подключается шрифт */
  font-size: 16px;
  line-height: 24px;
}

.pagination-list li {
  background-color: #eeeeee;
  list-style: none;
}

.pagination-item a {
  opacity: 0.3;
}

.pagination-item a:hover {
  color: inherit;

  opacity: 0.6;
}

.pagination-item a:focus {
  color: inherit;

  opacity: 1;
}

.pagination-back a,
.pagination-next a {
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  letter-spacing: 3px;
  text-transform: uppercase;

  opacity: 1;
}

.pagination-back:hover,
.pagination-next:hover {
  background-color: #d9d9d9;
}

.pagination-back a:focus,
.pagination-next a:focus {
  opacity: 0.3;
}

.pagination-item-current a {
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  opacity: 1;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus {
  opacity: 1;
}

.main-footer {
  color: #898989;

  background-color: #464646;
}

.main-footer-logo {
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: auto;
  color: #ffc600;
}

.main-footer-logo[href="index.html"]:hover {
  opacity: 0.6;
}

.main-footer-logo[href="index.html"]:focus {
  opacity: 0.3;
}

.footer-user-navigation li {
  list-style: none;
}


.footer-user-navigation a {
  color: #ffffff;
  line-height: 36px;

  list-style: none;
  opacity: 0.7;
}

.footer-user-navigation a:hover,
.footer-user-shopping a:hover {
  opacity: 1;
}

.footer-user-navigation a:focus,
.footer-user-shopping a:focus {
  opacity: 0.3;
}

.footer-user-shopping li {
  list-style: none;
}

.footer-user-shopping a {
  color: #ffffff;
  line-height: 36px;

  list-style: none;
  opacity: 0.7;
}

.footer-middle p {
  color: #ffffff;
  line-height: 36px;
}

.footer-site-navigation {
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 3px;

  list-style: none;
}

.footer-site-navigation a {
  color: #ffffff;
}

.footer-site-navigation a:hover {
  opacity: 0.6;
}

.footer-site-navigation a:focus {
  opacity: 0.3;
}

.footer-bottom li {

  list-style: none;
}

.footer-bottom .social-button {
  color: #ffffff;
  opacity: 0.3;
}

.modal {
  display: none;
}
