@font-face {
    font-family: "Gilroy";
    src: url("../fonts/gilroylight.woff2") format("woff2"),
         url("../fonts/gilroylight.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
         url("../fonts/gilroyextrabold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: #464646;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

html { box-sizing: border-box; }
*, *::before, *::after { box-sizing: inherit; }

.wrapper-center {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.main-links-state {
  opacity: 1;
}

.main-links-state:hover {
  opacity: 0.6;
}

.main-links-state:focus {
  opacity: 0.3;
}

.title-style {
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 700;
  font-size: 47px;
  line-height: 48px;
  color: #000000;
  letter-spacing: 0.7px;


  margin: 0px;
  padding: 0px;

  margin-top: 20px;
  margin-bottom: 25px;
}

.button {
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  letter-spacing: 3px;
  text-transform: uppercase;
}


.main-navigation {
  font-family: 'Gilroy', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  font-weight: 700;

  min-height: 298px;
  padding-top: 1px;
  box-sizing: border-box;
  margin-bottom: 38px;

  background-color: #f7e296;
}

.main-header-logo {
  font-size: 48px;
  line-height: 48px;
  color: #000000;
  letter-spacing: 0.7px;

  position: absolute;
  top: -24px;
  left: 77px;
}

.header-top-line {
  display: flex;

  margin-top: 42px;
  margin-bottom: 38px;
}

.main-search input {
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;

  width: 350px;

  background-color: #f7e296;
  border: none;
  opacity: 0.3;
}

.main-search input:hover {
  opacity: 0.6;
}

.main-search input:focus {
  opacity: 1;
  border-bottom: 2px solid #000;
  outline: none;
}

.main-search button {
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 15px;
  font-weight: 30px;

  display: none;
  background-color: transparent;
  border: 1px solid #000;
  padding: 10px 20px;
}

.user-shopping {
  display: flex;

  width: 191px;
}

.inner-page .user-navigation {
  display: flex;

  width: 200px;
}

.inner-page .main-navigation {
  min-height: 185px;
}

.user-navigation,
.user-shopping {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.user-navigation a,
.user-shopping a {
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  color: #000000;
}

.user-navigation a:hover,
.user-shopping a:hover {
  opacity: 0.6;
}

.user-navigation a:focus,
.user-shopping a:focus {
  opacity: 0.3;
}


.site-navigation {
  font-size: 18px;
  line-height: 24px;
  font-weight:700;
  text-transform: uppercase;
  letter-spacing: 3.5px;

  display: flex;
  padding: 0px;
  margin: 0px;
  margin-left: 60px;

  list-style: none;
}

.menu-delivery {
  margin-left: 35px;
}

.menu-contacts {
  margin-left: 110px;
}

.site-navigation a {
  color: #000000;
}

.dropdown-list {
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 15px;
  line-height: 36px;
  font-weight: normal;
  letter-spacing: normal;
  text-transform: none;
  color: #000000;

  display: none;

  list-style: none;
  }

  .dropdown-list li {
    width: 200px;
    margin: 0;
    padding: 0;
  }

  .dropdown-list li:nth-child(1) {
    order:1 ;
  }

  .dropdown-list li:nth-child(2) {
    order:4 ;
  }

  .dropdown-list li:nth-child(3) {
    order:6 ;
    margin-right: 500px;
  }

  .dropdown-list li:nth-child(4) {
    order:2 ;
  }

  .dropdown-list li:nth-child(5) {
    margin-right: 160px;
    order:5;
  }

  .dropdown-list li:nth-child(6) {
    order:3;
  }

  .main-list:hover .dropdown-list {
    display: flex;
    flex-wrap: wrap;

    width: 640px;

    margin: 0px;
    padding: 0px;

    padding-top: 22px;
  }

.index-columns {
  letter-spacing: 0.1px;

  display: flex;
  justify-content: space-between;
}

.info {
  display: flex;
  flex-direction: column;

  width: 478px;
}

.info .button {
  letter-spacing: 4px;

  margin-top: 47px;
}

.contact .button {
  margin-top:68px;
}

.contact {
  display: flex;
  flex-direction: column;

  width: 560px;
}


.transport-company p {
  margin-bottom: 65px;
}

.contact p {
  margin-bottom: 37px;
}

.companies {
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 40px;
  color: #000;
}

.authorized-user {
  width: 150px;
}

.inner-page-title {
  margin-bottom: 19px;
  margin-left: 60px;
}

.breadcrumbs {
  display: flex;

  margin-bottom: 45px;
  margin-left: 22px;
}

.breadcrumbs li {
  padding: 0px;
  margin: 0px;
  margin-right: 20px;

  list-style: none;
}

.breadcrumbs a {
  font-size: 14px;
  line-height: 24px;
  color: #000000;

  list-style: none;
  opacity: 0.3;
}

.breadcrumbs a:hover {
  opacity: 0.6;
}

.breadcrumbs a:focus {
  opacity: 0.1;
}

.breadcrumbs .breadcrumbs-current {
  font-size: 14px;
  line-height: 24px;
  color: #000000;

  margin-right: 0;
  align-self: center;

  opacity: 0.3;
}

.catalog-columns {
    display: flex;

    min-height: 1200px;
}

.filters {
  width: 330px;
  box-sizing: border-box;
}

.filters h2 {
  font-family: "Gilroy", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 3.5px;

  padding-top: 10px;
  padding-left: 60px;
  margin-bottom: 243px;
}

.filter-form {
  margin-left: 47px;
}

.filters fieldset {
  border: none;
}

.filters legend {
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;

  margin-bottom: 12px;
}

.filters .filter-option {
  padding: 0px;
  margin: 0px;
  margin-left: 35px;
}

.filters fieldset:first-child {
  margin-bottom: 35px;
}

.filters .button {
  margin-top: 28px;
  margin-left: 50px;
}


.filter-color,
.filter-bluetooth {
  padding: 0px;
  margin: 0px;
}

.filter-color li,
.filter-bluetooth li {
  font-size: 14px;
  line-height: 40px;
  color: #000000;

  padding: 0px;
  margin: 0px;

  list-style: none;
}

.filter-button {
  font-size: 18px;
  line-height: auto;
  letter-spacing: 3px;
  text-transform: uppercase;

  background-color:transparent;
  border: none;
}

.catalog {
  width: 760px;
  margin-left: 70px;
}


.catalog-item h3 {
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.catalog-item a {
  color: #000000;
}


.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;

  padding: 0;
  margin: 0;
  margin-top: 138px;
}

.catalog-list li {
  margin-bottom: 44px;

  list-style: none;
}

.catalog-list li {
}

.catalog-list li:nth-child(3),
.catalog-list li:nth-child(4) {
  margin-bottom: 0px;
}

.catalog-item {
  font-size: 0px;
}

.catalog-item h3 {
  width: 260px;
  padding: 0px;
  margin: 0px;
  margin-top: 18px;
}



.catalog-item-wrapper {
  padding: 0px;
  margin: 0px;
}

.pagination-list li {
  background-color: #eeeeee;
  list-style: none;
}

.pagination-item-sort a {
  opacity: 0.3;
}

.pagination-item-sort a:hover {
  color: inherit;

  opacity: 0.6;
}

.pagination-item-sort a:focus {
  color: inherit;

  opacity: 1;
}

.pagination-list {
  display: flex;
  align-items: center;

  width: 760px;
  margin: 0px;
  padding: 0px;
  min-height: 70px;
  margin-top: 35px;

  background-color: #ebebeb;
}


.pagination-item-sort {
  justify-content: space-around;
  display: flex;

  box-sizing: border-box;
  padding-left: 25px;
  width: 140px;
}

.pagination-back {
  margin-left: 27px;
  margin-right: 200px;
}

.pagination-next {
  margin-right: 27px;
  margin-left: auto;
}

.pagination-back a,
.pagination-next a {
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.pagination-back:hover,
.pagination-next:hover {
  background-color: #d9d9d9;
  opacity: 1;
}

.pagination-item-current a {
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  opacity: 1;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus {
  opacity: 1;
}

.inner-page .footer-wrapper {
  margin-top: 77px;
}

.footer-wrapper {
  color: #898989;

  width: 100%;
  margin-top: 89px;
  min-height: 325px;

  background-color: #464646;
}

.footer-top {
  box-sizing: border-box;
  display: flex;
  margin-top: 60px;
  margin-bottom: 12px;
}

.footer-user-navigation {
  display: flex;

  margin: 0px;
  padding: 0px;
  margin-right: 60px;
}

.footer-user-shopping {
  margin: 0px;
  padding: 0px;
}

.main-footer-logo {
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 700;
  font-size: 48px;
  color: #ffc600;
  letter-spacing: 0.4px;

  margin-right: 545px;
  padding-top: 10px;
}

.main-footer {
  padding-top: 1px;
}


.footer-user-shopping {
  display: flex;
  justify-content: space-between;

  width: 200px;
}


.footer-user-navigation li {
  list-style: none;
}


.footer-user-navigation a {
  color: #ffffff;
  line-height: 36px;

  list-style: none;
  opacity: 0.7;
}

.footer-user-navigation a:hover,
.footer-user-shopping a:hover {
  opacity: 1;
}

.footer-user-navigation a:focus,
.footer-user-shopping a:focus,
.footer-site-navigation a:focus {
  opacity: 0.3;
}

.footer-user-shopping li {
  list-style: none;
}

.footer-user-shopping a {
  color: #ffffff;
  line-height: 36px;

  list-style: none;
  opacity: 0.7;
}

.footer-middle {
  display: flex;

  margin-bottom: 60px;
}

.footer-middle p {
  color: #ffffff;
  line-height: 36px;
}

.footer-site-navigation {
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 3.5px;

  display: flex;

  width: 455px;
  padding: 0px;
  margin: 0px;
  margin-top: 30px;

  list-style: none;
}

.footer-site-navigation li:first-child {
  margin-right: 35px;
}

.footer-site-navigation li:last-child {
  margin-left: 35px;
}

.footer-site-navigation a {
  color: #ffffff;
}

.footer-site-navigation a:hover {
  opacity: 0.6;
}

.footer-bottom {
  display: flex;
  justify-content:space-between;
}

.footer-bottom::before {
  content:"";
  width: 80px;
  height: 7px;
  background-color: #ffc600;
}

.footer-social {
  display: flex;
  justify-content: space-between;

  /* width: 160px; Когда появятся иконки */
  width: 300px /*Временно для наглядности */
}


.footer-bottom li {
  list-style: none;
}

.footer-bottom .social-button {
  color: #ffffff;

  opacity: 0.3;
}

.modal {
  display: none;
}


.main-header {
  position: relative;

  margin-top: 33px;
  margin-top: 40px;
}

.inner-page .main-header-logo {
  position: absolute;
  top: -22px;
  left: 78px;
}

.header-top-line .main-search {
  width: 450px;
  margin-right: 85px;
  margin-left: 65px;
}

.header-top-line .user-navigation {
  width: 260px;
  padding-left: 25px;
  margin-right: 20px;
}

.header-top-line .user-shopping {
  width: 220px;
}

.main-header .site-navigation {
  margin-left: 60px;
}

.site-navigation .main-list {
  width: 260px;
  margin-right: 280px;
}

.comparison {
  padding-left: 25px;
  width: 100px;
  margin-right: 41px;
}

.cart {
  width: 100px;
  padding-left: 25px;
}

.container .inner-page-title {
  margin: 0px;
  padding: 0px;
  margin-left: 60px;
  margin-bottom:21px;
}

.breadcrumbs {
  margin: 0px;
  padding: 0px;
  margin-left: 60px;

}

.breadcrumbs li {
  margin: 0px;
  padding: 0px;
  padding-right: 38px;
}

.top-wrapper {
  margin-bottom: 45px;
}

.price-wrapper {
  display: flex;
  justify-content: space-between;
}

.catalog-item-price {
  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  padding: 0px;
  margin: 0px;
  margin-top: 18px;
}

.footer-top {
  margin-top: 59px;
}

.main-footer-logo {
  margin-right: 695px;
}


.inner-page .main-footer-logo {
  margin-right: 510px;
  position: relative;
  left:-2px;
}

.footer-user-navigation {
  margin-right: 38px;
}

.inner-page .footer-user-navigation {
  width: 235px;
  margin-right: 30px;
}

.footer-top .authorized-user {
  padding-left: 32px;
  width: 170px;
  margin-right: 13px;
}


.footer-address {
  display: block;
  margin-right: 163px;
}

.footer-number {
  margin-right: 0;
  margin-left: auto;
}

.footer-site-navigation {
  width: 430px;
  margin: 0px;
  padding: 0px;
  margin-top: 27px;
}
